<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title th:text="${user.uuid == null ? 'Create new plebeian' : 'Edit the plebeian'}"></title>
</head>
<body>
<div>
    <h1 th:text="${user.uuid == null ? 'Create new plebeian' : 'Edit the plebeian'}"></h1>

    <form th:action="@{/users}" th:object="${user}" method="post">
        <input type="hidden" name="_method" th:value="${user.uuid == null ? 'post' : 'put'}">
        <input type="hidden" th:field="*{uuid}" />

        <label>Name: <input type="text" th:field="*{name}" /></label><br/>
        <label>Nickname: <input type="text" th:field="*{nickname}" /></label><br/>
        <label>Hair color: <input type="text" th:field="*{hairColor}" /></label><br/>
        <label>The plebeian must die? <input type="checkbox" th:field="*{isMustDie}" /></label><br/>

        <button type="submit">Save changes</button>
    </form>

    <a href="/users">Cancel editing</a>
</div>
</body>
</html>